.ms-container {
  width: 800px;
}

.ms-search-box {
  width: 100%;
}

.ms-container .ms-list {
  height: 400px;
}

.ms-container .ms-selectable li,
.ms-container .ms-selection li {
  cursor: pointer;
}

.ms-container .ms-elem-selectable,
.ms-container .ms-elem-selection {
  background-color: transparent !important;
  color: #000 !important;
}

.ms-container .ms-elem-selectable:hover,
.ms-container .ms-elem-selection:hover {
  background-color: #08c !important;
  color: #fff !important;
}
